@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #09090b;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

a {
  @apply transition-colors;
}

a:hover {
  @apply text-sky-400;
}
